.ant-space.css-dev-only-do-not-override-1x0dypw.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small {
  width: 100%;
  height: 50px;
  .ant-space-item {
    width: 100%;
    box-sizing: border-box;

    .ant-select.ant-select-outlined.css-dev-only-do-not-override-1x0dypw.ant-select-single.ant-select-show-arrow {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.ant-select-selection-item {
  font-size: 1rem;
}
