@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "view/style/responsive";

.containerNav {
  display: flex;
  align-items: center;
  .nav {
    height: 60px;
    background: transparent;
    display: flex;

    a {
      padding: 5px 10px;
      text-decoration: none;
      font-size: 16px;
      font-family: "Source Sans 3", sans-serif;
      font-weight: 700;
      height: 50px;
      display: flex;
      align-items: center;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
    .active {
      box-shadow:
        0 0 20px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255);
    }
  }
}
