@import "view/style/responsive";
.homePageContainer {
  width: 100%;
  .NewFilm {
    width: 1650px;
    .listNewFilm {
      display: flex;
      gap: 3px;
    }
  }
  .sessionLeftAndRight {
    width: 100%;
    display: flex;
    gap: 30px;
    .sessionLeft {
      width: 1350px;
      .firstSessionLeft {
        width: 100%;
        .listFilm {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
      .secondSessionLeft {
        width: 100%;
        .listFilm {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
    }
    .sessionRight {
      width: 268px;
      .firstSessionRight {
        width: 268px;
        height: 301px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .listFilm {
          width: 268px;
          height: 240px;
          display: flex;
          flex-wrap: wrap;
        }
      }
      .secondSesionRight {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@include Responsive($DESKTOP) {
  .firstSessionLeft {
    background-color: gold;
  }
}

@include Responsive($SMALL_DEVICES) {
  .sessionLeftAndRight {
    background-color: aquamarine;
  }
}

// @media (max-width: 1199px) {
//   .homePageContainer {
//     background-color: red;
//   }
// }
