.footer {
  width: 100%;
  background-color: rgb(123, 218, 69);
  box-sizing: border-box;
  .footer-container {
    display: flex;
    width: 100%;
    padding: 20px;
    .column {
      width: 217px;
    }
  }
}
