// định nghĩa chiều cao và chiều dài
.fix-dimensionsView0 {
  width: 3.5rem;
  height: 5.375rem;
}

.back-groundView0 {
  width: 18.1875rem;
  height: 5.6875rem;
}

.filmVertical0 {
  position: relative;
  @extend .back-groundView0;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  .leftfilmVertical0 {
    .ImageFilm0 {
      @extend .fix-dimensionsView0;
      border-radius: 3px;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .rightfilmVertical0 {
    .TotalEpisode0 {
      background-color: rgb(222, 18, 18);
      margin: 5px;
      padding: 0px 10px;
      border-radius: 50px;
      color: white;
      font-size: 13px;
      font-weight: 700;
    }
    .title0 {
      width: 100%;
      p {
        font-weight: 600;
        font-size: 14px;
        color: white;
        margin: 10px;
        line-height: 1rem;
      }
    }
  }
}
