// định nghĩa chiều cao và chiều dài
.fix-dimensionsView3 {
  width: 9.9375rem;
  height: 14.875rem;
}

.filmVertical3 {
  position: relative;
  @extend .fix-dimensionsView3;
  overflow: hidden;
  cursor: pointer;
  .TotalEpisode3 {
    position: absolute;
    top: 0;
    background-color: rgb(222, 18, 18);
    margin: 5px;
    padding: 0px 10px;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    font-weight: 700;
  }

  .ImageFilm3 {
    @extend .fix-dimensionsView3;
    border-radius: 3px;
    object-fit: cover;
    overflow: hidden;
  }
  .title3 {
    position: absolute;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    p {
      font-weight: 600;
      font-size: 14px;
      color: white;
      margin: 10px;
      line-height: 1rem;
    }
  }
}
