.containerIntroduce {
  position: relative;
  width: 103.125rem;
  .introduceImg {
    height: 37rem;
    position: relative;
    .mainMovie {
      width: 100%;
      height: 37rem;
      object-fit: cover;
    }
    .blur {
      content: "";
      position: absolute;
      display: block;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0)
      );
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 0;
    }
    .introduceText {
      position: absolute;
      top: 25%;
      left: 5%;
      color: #e0e0e0;
      width: 50%;
      .titleIntroduce {
        font-size: 1.875rem;
        font-weight: 700;
      }
      .originNameIntroduce {
        font-size: 1rem;
        font-weight: 700;
      }
      .introduceInfo {
        font-size: 0.75rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .introduceVisibility {
        display: flex;
      }
      .introduceDecription {
        font-size: 1.175rem;
        height: 13rem;
        overflow-x: hidden;
        overflow-y: scroll;
      }
      .introduceDecription::-webkit-scrollbar {
        width: 8px;
      }
      .introduceDecription::-webkit-scrollbar-thumb {
        background-color: aqua;
        border-radius: 5px;
      }
      .mediaIntroduce {
        padding-top: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .introduceEpisodeContainer {
    color: #e0e0e0;
    padding-top: 20px;
    .introduceLableEpisode {
      color: #e0e0e0;
      font-size: 2rem;
      font-weight: 700;
    }
    .introduceEpisode {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      li {
        background: #313036;
        padding: 20px;
        width: 20px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
  .ContainerintroducePropose {
    .introduceLabelPropose {
      color: #e0e0e0;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
