svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1umw9bq-MuiSvgIcon-root {
  color: white;
}

.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-focused.css-1dcqlyt-MuiInputBase-root {
  color: rgb(0, 0, 0);
  .MuiInputBase-input.css-2wf81q-MuiInputBase-input {
    color: rgba($color: #fff, $alpha: 1);
  }
}

.MuiInputBase-input.css-2wf81q-MuiInputBase-input {
  color: rgba($color: #fff, $alpha: 0.7);
}
